.wrap {
    width: 90%;
    margin: auto;
}

.container {
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding-bottom: 2rem;
    width: 90%;
}

.form-wrap {
    display: flex;
    justify-content: space-around;
}

.form-inline {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-results {
    width: 40%;
    justify-content: center;
}

.result {
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

.result-header {
    font-weight: 400;
    text-align: center;
}

.form-element-pair {
    width: 80%;
    margin-bottom: 1rem;
}

.radio-bt-txt {
    display: flex;
    flex-direction: row-reverse;
}

.number-input {
    width: 80%;
}

.select-input {
    width: 83.5%;
}

input[type=radio] {
    padding: 1.5rem;
    display: none;
}

#selectDim {
    display: none;
}

.sub-header h3 {
    margin: 0;
    padding: 3rem 0;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
}

#flow-wrap {
    align-items: center;
}

label {
    width: 100%;
}

#selectUnit {
    max-width: 5rem;
}

.pump-suggestions {
    margin-top: 2rem;
}

.pump-suggestions .select-input {
    margin-top: 0.4rem;
}

/*
Responsive Media Queries
*/
@media only screen and (max-width: 800px) {
    .form-wrap {
        flex-direction: column;
        justify-content: center;
    }

    .form-inline {
        width: 100%;
    }

    .all-results {
        width: 100%;
    }

    .result {
        margin: 1.5rem 2rem;
    }
}
