.wrap {
    width: 90%;
    margin: auto;
}

.title h1 {
    margin: 0;
    padding: 3rem 0;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.projectlista {
    margin: auto;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.project i {
    font-size: 30px;
}

.project a {
    text-decoration: none;
    color: black;
}

.project a:hover {
    color: #3867d6;
}

.project:hover {
    cursor: pointer;
    background: rgba(150, 150, 150, 0.3);
}

.last-project {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.project h2 {
    font-weight: 200;
}

.button-wrap {
    margin: 2rem 0;
}
