.wrap {
    width: 90%;
    margin: auto;
}

.title h1 {
    margin: 0;
    padding: 3rem 0;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.projectlista {
    margin: auto;
}

.creators {
    display: flex;
    flex-direction: column;
}

.creatorname {
    margin: 0.5rem;
    font-weight: 400;
    text-align: left;
}

.projectlink {
    color: #000;
}

.last-project {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.button-wrap {
    margin: 2rem 0;
}
