.wrap {
    width: 90%;
    margin: auto;
}

.projectlista {
    margin: auto;
}

img {
    max-width: 5rem;
}

.tablelink {
    color: #000;
    cursor: pointer;
}

.last-product {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.product h2 {
    font-weight: 400;
}

.inactive .table {
    opacity: 0.5;
}

.inactive .table:hover {
    opacity: 1;
}

.button-wrap {
    margin: 2rem 0;
}
