html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
}

.topnav {
    background-color: #f1f1f1;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .right {
    float: right;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #3867d6;
    color: white;
}

.wrap {
    width: 90%;
    margin: auto;
}

.title h1 {
    margin: 0;
    padding: 3rem 0;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.projectlista {
    margin: auto;
}

img {
    max-width: 5rem;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.product a {
    text-decoration: none;
    color: black;
}

.product i {
    font-size: 30px;
}

.product a:hover {
    color: #3867d6;
}

.product:hover {
    cursor: pointer;
    background: rgba(150, 150, 150, 0.3);
}

.last-product {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.product h2 {
    font-weight: 200;
}

.button-wrap {
    margin: 2rem 0;
}

.button {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 1rem;
    background: #3867d6;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(102, 102, 102, 0.6);
}

.button:hover {
    box-shadow: 1px 1px 4px rgba(102, 102, 102, 1);
    cursor: pointer;
}