html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrap-all {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    min-width: 350px;
    height: 100%;
    text-align: center;
}

.map {
    width: 78%;
}

.projekt-titel {
    font-weight: 300;
    color: black;
    background: white;
    height: 3vh;
    margin: 0;
    padding: 20px;
}

.desc {
    text-align: left;
    padding: 1rem;
    font-weight: 300;
}

.obj-list {
    height: 78vh;
    overflow-y: scroll;
    outline: 0;
}

.obj-row {
    display: flex;
    justify-content: space-around;
    background-color: #1280c4;
}

.obj-list button::-moz-focus-inner {
    border: none;
}

.accordion {
    width: 100%;
    padding: 1.5rem;
    color: #fff;
    background: #1280c4;
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    border: none;
}

.activeAccordion, .accordion:hover {
    background-color: light#1280c4;
}

.accordion:after {
    content: '+';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.activeAccordion:after {
    content: "\2212";
}

.panel {
    background: #eee;
    padding: 1px 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.obj-container {
    width: 100%;
    height: 120px;
    margin: 0.3rem 0;
    background: #fff;
    display: flex;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    color: #444;
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.obj:hover {
    cursor: pointer;
}

.obj img {
    max-height: 88%;
    max-width: 80px !important;
    align-self: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: block;
}

.obj-icon {
    align-self: center;

}

.obj-desc {
    margin: auto 0;
}

.tools {
    margin: 1rem;
    height: 60px;
    min-width: 3.5rem;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(102, 102, 102, 0.4);
    border-radius: 5px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools i {
    font-size: 2.5rem;
    padding-left: 0.5rem;
}

.leaflet-control-custom {
    background-color: white;
    width: 30px;
    height: 30px;
}

.leaflet-control-custom:hover {
    cursor: pointer;
}

.leaflet-control-custom i {
    font-size: 30px;
    color: #696969;
}

.active {
    border-top: 1px solid #1280c4;
    border-bottom: 1px solid #1280c4;
    box-shadow: 0 0 4px #1280c4;
}

.active2, .active3 {
    border: 2px solid #1280c4 !important;
}

.buttons {
    margin: 0.8rem;
    border-top: 1px #eee solid;
}

.fancy-light-button {
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #1280c4;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.link {
    text-decoration: none;
}

.fancy-button {
    margin: 0.5rem 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #1280c4;
    color: #fff;
}
