.map {
    width: 100%;
    height: 90vh;
}

table {
    border-spacing: 0;
    border: none;
    width: 100%;
    border: 1px solid #ddd;
    table-layout: fixed;
    margin-bottom: 50vh;
}

th {
    background-color: #3867d6;
    color: white;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 0.8rem 0;
    width: 15vw;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}